* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

.Join-Our-Community {
    background-color: aliceblue;
    height: 50vh;
    width: 100%;
    padding-top: 40px;
    padding-left: 30px;
    overflow: hidden;
}

.Join-Our-Community h1 {
    color: hsl(179, 68%, 42%);
    padding-bottom: 30px;
}

.Join-Our-Community h2 {
    color: hsl(71, 73%, 54%);
    padding-bottom: 30px;
}

.Join-Our-Community p {
    color: hsl(203, 13%, 73%);
    line-height: 2rem;
}

.box {
    width: 50%;
    height: 50vh;
    float: left;
    padding-top: 40px;
    padding-left: 30px;
}

.Monthly-Subscribtion {
    background-color: hsl(179, 68%, 39%);
    color: white;
}

.Monthly-Subscribtion h1 {
    padding-bottom: 30px;
}

.Monthly-Subscribtion span {
    color: aliceblue;
    font-size: 30px;
}

.Monthly-Subscribtion p {
    color: hsl(203, 13%, 73%);
}

.Monthly-Subscribtion h4 {
    color: hsl(203, 24%, 83%);
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn {
    background-color: hsl(71, 73%, 54%);
    color: white;
    padding: 15px 80px 15px 80px;
    cursor: pointer;
    border-radius: 5px;
}

.Why-Us {
    background-color: hsl(179, 62%, 43%);
    color: white;
}

.Why-Us h1 {
    padding-bottom: 30px;
}

.clr {
    clear: both;
}

@media screen and (max-width: 320px) {
    .Join-Our-Community {
        height: 100%;
    }
    .Monthly-Subscribtion {
        width: 100%;
    }
    .Why-Us {
        width: 100%;
    }
}